{% extends 'base.html' %}


{% block content %}

{% include 'banner.html' with content=post%}

<section class="ftco-degree">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate fadeInUp ftco-animated">
        <h2 class="mb-3">{{ post.title|title }}</h2>
        {{ post.content|safe }}

        <div class="tag-widget post-tag-container mb-5 mt-5">
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">Life</a>
            <a href="#" class="tag-cloud-link">Sport</a>
            <a href="#" class="tag-cloud-link">Tech</a>
            <a href="#" class="tag-cloud-link">Travel</a>
          </div>
        </div>
        <div class="about-author d-flex">
          <div class="bio align-self-md-center col-md-5">
            <img src="{{ post.autor.profile_pic.url }}" alt="Image placeholder" class="rounded img-fluid mb-4">
          </div>
          <div class="desc align-self-md-center col-md-7">
            <h3>{{ post.autor }}</h3>
            <p>{{ post.autor.bio|truncatechars:150|striptags }}</p>
          </div>
        </div>
        <div class="pt-5 mt-5">
          <h3 class="mb-5">{{ counter_comments }} Comment{{ counter_comments|pluralize}}</h3>
          <ul class="comment-list">
            {% for comment in post.comments.all %}
            <li class="comment">

              <div class="vcard bio">
                <img src="{% if comment.member.profile_pic %}{{ comment.member.profile_pic.url }}{%endif%}"
                  alt="Image placeholder">
              </div>

              <div class="comment-body ">
                <h3>{{ comment.member }}</h3>
                <div class="meta">{{ comment.created }}</div>
                <p>{{ comment.content }}</p>
                {% if request.user.member == comment.member or request.user.is_staff %}
                <div class="text-right">
                  <a class="text-danger" href="{% url 'blog:comment_delete' comment.id %}">delete comment</a>
                </div>
                {% endif %}
              </div>

            </li>
            {% endfor %}

          </ul>
          {% if request.user.is_authenticated %}
          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Leave a comment</h3>
            <form action="#" method="post" class="bg-light p-4">
              {% csrf_token %}
              <div class="form-group">
                {{ form }}
              </div>
              <div class="form-group">
                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
      {% include 'blog/blog_sidebar.html' %}
    </div>
  </div>
</section>

{% endblock content %}