{% extends 'base.html' %}


{% block content %}

{% include 'banner.html' with content=banner%}

<section class="ftco-degree">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate fadeInUp ftco-animated">
        <div class="row">
          {% for article in articles %}
          <div class="col-md-6 d-flex ftco-animate fadeInUp ftco-animated">
            <div class="blog-entry justify-content-end">
              <a href="{{ article.get_absolute_url }}" class="block-20"
                style="background-image: url('{{ article.image.url }}');">
              </a>
              <div class="text p-4 float-right d-block">
                <div class="meta">
                  <div><a href="#">{{ article.created }}</a></div>
                  <div><a href="#">{{ article.autor }}</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="{{ article.get_absolute_url }}">{{ article.title|title }}</a></h3>
                <p>{{ article.content|truncatechars_html:200|striptags }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% include 'blog/blog_sidebar.html' %}
    </div>
  </div>
</section>


{% endblock content %}