<section class="hero-wrap js-fullheight" style="background-image: url({{ content.image.url }}); height: 661px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            style="height: 661px;">
            {% if content.title %}
            <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
                <h1 class="mb-3 bread">{{ content.title|title }}</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'blog:home' %}">Home</a></span>
                    <span>{% if content.page %}{{ content.page }}{% endif %}</span>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</section>