{% load static %}
<section class="home-slider js-fullheight owl-carousel ftco-degree-bottom">
    
    {% for slide in banner %}
    <div class="slider-item js-fullheight" style="background-image: url({{ slide.image.url }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text js-fullheight justify-content-center align-items-center"
                data-scrollax-parent="true">

                <div class="col-sm-6 ftco-animate text-center">
                    <h1 class="mb-4">Fuel Your Body Fitness</h1>
                    <h2 class="subheading">Be One Of Us</h2>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}

    <!-- <div class="slider-item js-fullheight" style="background-image: url({% static 'images/bg_2.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text js-fullheight justify-content-center align-items-center"
                data-scrollax-parent="true">

                <div class="col-sm-7 ftco-animate text-center">
                    <h1 class="mb-4">Challenge Yourself</h1>
                    <h2 class="subheading">Get Your Body Fit</h2>
                </div>

            </div>
        </div>
    </div> -->
</section>