{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'banner.html' with content=banner%}

<section class="ftco-degree bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <h3 class="subheading">Shape Your Body</h3>
                <h2 class="mb-1">Our Coaches</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 d-flex">
                <div class="coach align-items-stretch">
                    <div class="img" style="background-image: url(images/trainer-1.jpg);"></div>
                    <div class="text bg-white p-4 ftco-animate fadeInUp ftco-animated">
                        <span class="subheading">Owner / Head Coach</span>
                        <h3><a href="#">Mark Brook</a></h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <ul class="ftco-social-media d-flex mt-4">
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-twitter"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-instagram"></span></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex">
                <div class="coach d-md-flex flex-column-reverse align-items-stretch">
                    <div class="img" style="background-image: url(images/trainer-2.jpg);"></div>
                    <div class="text bg-white p-4 ftco-animate fadeInUp ftco-animated">
                        <span class="subheading">Owner / Head Coach</span>
                        <h3><a href="#">Sarah Henderson</a></h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <ul class="ftco-social-media d-flex mt-4">
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-twitter"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-instagram"></span></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex">
                <div class="coach align-items-stretch">
                    <div class="img" style="background-image: url(images/trainer-3.jpg);"></div>
                    <div class="text bg-white p-4 ftco-animate fadeInUp ftco-animated">
                        <span class="subheading">Owner / Head Coach</span>
                        <h3><a href="#">George Hump</a></h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <ul class="ftco-social-media d-flex mt-4">
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-twitter"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-instagram"></span></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex">
                <div class="coach d-md-flex flex-column-reverse align-items-stretch">
                    <div class="img" style="background-image: url(images/trainer-4.jpg);"></div>
                    <div class="text bg-white p-4 ftco-animate fadeInUp ftco-animated">
                        <span class="subheading">Owner / Head Coach</span>
                        <h3><a href="#">Victor Hump</a></h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <ul class="ftco-social-media d-flex mt-4">
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-twitter"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-instagram"></span></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-about d-md-flex bg-light">
    <div class="one-half img" style="background-image: url(images/about-2.jpg);">
        <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
            <span class="icon-play"></span></a>

    </div>
    <div class="one-half ftco-animate fadeInUp ftco-animated">
        <div class="heading-section ftco-animate fadeInUp ftco-animated">
            <h3 class="subheading">About Muscle</h3>
            <h2 class="mb-5">Welcome <br>To Our Gym</h2>
        </div>
        <div>
            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have
                been rewritten a thousand times and everything that was left from its origin would be the word "and" and
                the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said
                could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her
                drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
        </div>
    </div>
</section>
{% endblock content %}