{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'banner.html' with content=banner%}

<section class="ftco-degree bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
                <h3 class="subheading">Shape Your Body</h3>
            </div>
        </div>
        <div class="row">
            {% for coach in coaches %}
            <div class="col-lg-3 d-flex">
                <div
                    class="coach {% if forloop.counter|divisibleby:2  %}d-md-flex flex-column-reverse{% endif %} align-items-stretch">
                    {% if coach.image %}
                    <a href="{{ coach.get_absolute_url }}">
                        <div class="img" style="background-image: url('{{ coach.image.url }}');"></div>
                    </a>
                    {% endif %}
                    <div class="text bg-white p-4 ftco-animate fadeInUp ftco-animated">
                        <span class="subheading">Owner / Head Coach</span>
                        <h3><a href="{{ coach.get_absolute_url }}">{{ coach.name }}</a></h3>
                        <p>{{ coach.bio|truncatechars_html:150|striptags }}</p>
                        <ul class="ftco-social-media d-flex mt-4">
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-twitter"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-facebook"></span></a></li>
                            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"
                                    class="mr-2 d-flex justify-content-center align-items-center"><span
                                        class="icon-instagram"></span></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}