{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'banner.html' with content=banner%}

<section class="ftco-degree">
  <div class="container-fluid">
    <!-- title -->
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h3 class="subheading">Gym Classes</h3>
        <h2 class="mb-1">Workout Classes</h2>
      </div>
    </div>

    <div class="row">
      {% for category in categories %}
      {% if category.exercise_set.count != 0 %}
      <div class="col-md-6 col-lg-3">
        <div class="package-program ftco-animate">
          <a href="{{category.get_absolute_url}}" class="img d-flex justify-content-center align-items-center"
            style="background-image: url('{{ category.image.url}}');">
            <span>See Exercise</span>
          </a>
          <div class="text mt-3">
            <h3><a href="{{category.get_absolute_url}}">{{ category.title}}</a></h3>
            <p>{{ category.description|truncatechars_html:150|striptags }}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>

  </div>
</section>

{% endblock content %}